@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-yellow:#F6C445;
  --brand-purple:#6D28D9;
}

html, body {
  background: #F7F4EF;
  color: #14121A;
}

* { -webkit-tap-highlight-color: transparent; }
